li{
    list-style: none;
    border: 1px solid #00000050;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px;

    span{
        font-size: 17px;
    }

    button{
        padding: 10px;
        border: 1px solid #ff0000ad;
        background-color: transparent;
        color: #ff0000ad;
        border-radius: 5px;
        font-weight: bold;
        transition: 0.5s;
    }

    button:hover{
        background-color: #ff0000ad;
        color: #FFFFFF;
        transition: 0.5s;
        cursor: pointer;
    }
}